*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-style: "poppins";
}
nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
li:hover{
    cursor: pointer;
    color: purple;
}
.container{
    margin-inline: 40px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.logo img{
    margin-block: 30px;
    height: 55px;
    width: 45px;
}
.navlinks ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-block: 5px;
    font-size: larger;
}
.mainbox{
    margin-inline: 40px;
    margin-block: 10rem;
}
.home1 {
    display: flex;
    justify-content: space-evenly;
}
.img1 img{
    height: 255px;
    width: 320px;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home2{
    display: flex;
    margin-block: 15rem;
    justify-content: space-evenly;
    text-align: center;
}
.img2 img{
    height: 250px;
    width: 350px;
}
.intro2{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: space-evenly;
    text-align:center;
    display: inline;
}
.social{
    display: flex;
    display: inline;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.social-links a li {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
li{  
    list-style: none;
    text-align: center;
    margin-block:40px ;
    text-decoration: none;

}
a{
    text-decoration:none ;
    height: 45px;
    width: 45px;
    border: 2px solid black;
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    margin-top: 20px;
}
.end {
    display:flex
    justify-content:space-evenly;
}
 .end .footer-links{
    display: flex;
    flex-direction: row;
}